# ルート直下の node_modules
/node_modules/

# client/server 配下の node_modules
/client/node_modules/
/server/node_modules/

# Nuxt のビルドキャッシュ
/.nuxt/
/.output/

# 環境ファイル
.env
.env.local
.env.*.local

#ログやデバッグファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*